body {
    background-color: #fafafa;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.divider{
    margin: 15px;
}

.header{
    font-family:'Quicksand', sans-serif;
    font: 700;

    padding: 10px;
     color:white;
     background-color: #343a40;
}

.footer{
    position: absolute;
    bottom: 5px;
    left:46%;
   
}

.title{
    font-size: 25px;
}



